<section class="container">
  <div class="container-heading">
    <h2>{{ currentUser ? "Your Posts" : "Events" }}</h2>
  </div>
  <div class="posts-container" *ngIf="eventPosts$ | async as eventPosts">
    <ng-container *ngIf="eventPosts.length <= 0">
      <div class="empty-posts-container"><h3>No Posts Yet</h3></div>
    </ng-container>
    <ng-container *ngIf="eventPosts.length > 0">
      <app-event-post
        *ngFor="let eventPost of eventPosts"
        [eventPost]="eventPost"
        [isEditAllowed]="isEditAllowed"
        [isLikeShown]="isLikeShown.value"
      />
    </ng-container>
  </div>
</section>
