.form-container {
  width: inherit;
  margin: 15px;

  label {
    font-size: 1.2rem;
  }
  .form-group {
    width: 100%;
    padding-bottom: 0;

    textarea {
      margin-top: 20px;
      font-family: inherit;
      resize: none;
    }
  }

  button {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1rem;
    align-self: flex-end;
    width: 100px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  .form-container {
    margin: 10px;

    label {
      font-size: 1rem;
    }
    button {
      margin-top: 20px;
      margin-bottom: 0;
      font-size: 0.8rem;
      align-self: flex-end;
      width: 80px;
      padding: 7px;
    }
  }
}
