@use "../../../../assets/scss/variables" as var;

header {
  background-color: var.$black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  min-height: 70px;

  .header-brand {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      font-size: 2rem;
      margin: 0 10px;
    }
    h1 {
      font-size: 2.3rem;
      margin-left: 10px;

      color: var.$light-blue;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 10px;
    position: relative;

    .nav-link {
      margin-right: 10px;
      color: var.$light-blue;
      padding: 10px;
      height: 100%;
      cursor: pointer;
    }

    .active {
      font-weight: 600;
      color: white;
    }
  }
}

.user-badge {
  background-color: var.$light-red;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: var.$box-shadow;
  margin-left: 15px;

  &:hover {
    background-color: var.$dark-red;
  }
}

.dropdown {
  box-shadow: var.$box-shadow;
  position: absolute;
  z-index: 100;

  right: 10px;
  top: 60px;
  background-color: var.$black-two;
  font-size: 1.2rem;
  border-radius: 10px;

  &-item {
    margin: 0;
    padding: 15px 25px;
    border-bottom: 2px solid black;
    cursor: pointer;

    &:hover {
      background-color: rgb(226, 81, 81);
    }

    &:first-child {
      cursor: unset;
      border-radius: 10px 10px 0 0;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 896px) and (-webkit-min-device-pixel-ratio: 2) {
  header {
    min-height: 50px;
    display: grid;
    .header-brand {
      i {
        font-size: 1.5rem;
        margin: 0;
      }
      h1 {
        display: none;
      }
    }
    .nav {
      font-size: 20px;
      .nav-link {
        // margin-right: 5px;
        padding: 5px;
      }
    }
  }
  .mobile-view-no-user {
    grid-template-columns: 1fr 2fr 1fr;

    .nav {
      justify-content: space-between;

      :first-child {
        display: none;
      }
    }
  }
  .user-badge {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }

  .dropdown {
    right: 17px;
    top: 35px;
    font-size: 0.8rem;
    &-item {
      padding: 8px 18px;
    }
  }
  .mobile-view-user {
    grid-template-columns: 1fr 5fr;

    .nav {
      justify-content: space-evenly;
      font-size: 1rem;
    }
  }
}
