<section class="section-container">
  <div class="container-heading">
    <h2>About LocalBuzz</h2>
  </div>
  <div class="about-container">
    <p>
      Welcome to LocalBuzz, your gateway to the heartbeat of your city. We're
      here to connect you with the latest and greatest happenings in your local
      community.
    </p>
    <div class="about-list">
      <strong>Why LocalBuzz?</strong>
      <ul>
        <li>
          Discover Local Gems: Find the most happening events and activities in
          your city or neighborhood.
        </li>
        <li>
          Community Connection: Connect with locals who share your interests and
          passions.
        </li>
        <li>
          Event Posting: Share your own event experiences and recommendations
          with the community.
        </li>
        <li>
          Stay Informed: Get real-time updates on trending events and the latest
          buzz in your vicinity.
        </li>
        <li>
          Support Local: Help us celebrate and support local businesses,
          artists, and causes.
        </li>
      </ul>
    </div>

    <p>
      Join us in celebrating the vibrant, diverse, and exciting world that's
      right outside your door. LocalBuzz is more than an app, it's a community,
      a movement, and a celebration of people.
    </p>
    <div class="about-footer">
      <span routerLink="/register"> Explore. Connect. Celebrate.</span>
    </div>
  </div>
</section>
