//? ORIGINAL
// $box-shadow: 0 0px 15px #191919, 0 0px 15px black;
// $black: #212121;
// $black-two: #424242;
// $dark-blue: #212121;
// $light-blue: #bdbdbd;
// $light-gray: #c2c3b9;
// $light-red: #ff6b6b;
// $dark-red: #a83030;

//?LEGEND
// $box-shadow: 0 0px 15px #d0d0d0, 0 0px 15px black;
// $black: background
// $black-two: /color for posts
// $dark-blue: same as background color but used on different places =
// $light-blue: text and links
// $light-red: link to post
// $dark-red: button back

//?MY TAKE
$box-shadow: 0 0px 15px #002325, 0 0px 15px black;
$black: #002526;
$black-two: #00393c;
$dark-blue: #002728;
$light-blue: #699395;
$light-gray: #c2c3b9;
$light-red: #ff8383;
$dark-red: #a83030;

//?NASTI'S TAKE
// $box-shadow: 0 0px 15px #431810, 0 0px 15px #822a1d;
// $black: #eaafa6;
// $black-two: #ee4e34;
// $dark-blue: #ea7f6e;
// $light-blue: #fcedda;
// $light-gray: #c2c3b9;
// $light-red: #aa96da;
// $dark-red: #a83030;
